/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos del pie de página y logotipo */
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 50px; /* Ajusta el margen superior según sea necesario */
}

.footer-container footer {
  font-size: 14px;
}

.logo {
  width: 100px; /* Ajusta el tamaño del logo según sea necesario */
}
